@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.eot');
    src: url('../fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Light.woff2') format('woff2'),
    url('../fonts/Poppins-Light.woff') format('woff'),
    url('../fonts/Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.eot');
    src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/Poppins-Bold.woff') format('woff'),
    url('../fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --main-font-color: #17376A;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #FBFBFB;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--main-font-color);
}

input {
    background-color: #FBFBFB;
    border: none
}

input:focus {
    outline: none;
}

div.container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: #FBFBFB;
    padding: 5vh 0 35px;
    z-index: 2;
    top: 0;
    height: 6vh;
    width: 100%;
    animation: lazyLoad 2s forwards;
    transition: .5s;
}

nav > img {
    height: 100%;
}

nav > div {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .searchbar label > img {
    position: relative;
    height: 22px;
    right: -25px;
}

nav .searchbar label > input {
    font-size: 25px;
    width: 183px;
    border-bottom: 1px solid var(--main-font-color);
    padding-left: 25px;
}

nav.onScroll {
    padding: 4vh 0 25px;
}

section {
    width: 100%;
}

section .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #FBFBFB;
}

section#patterns {
    display: flex;
    top: 35px;
    height: 600px;
    position: relative;
    z-index: 1;
}

section#patterns .text {
    margin-left: 10vw;
    text-shadow: 0 3px 3px black;
    animation: lazyLoad 2s forwards;
}

section#patterns h1 {
    font-size: 101px;
    line-height: 1;
    margin: 0;
}

section#patterns h2 {
    font-size: 32px;
    font-weight: lighter;
    margin-top: 0;
}

section#patterns a {
    text-shadow: none;
    font-weight: bold;
    background-color: #FBFBFB;
    padding: 10px 40px;
    transition: .5s;
}

a.downArrow {
    animation: lazyLoad 2s forwards;
    z-index: 1;
    cursor: pointer;
    position: relative;
    top: -70px;
}

.background-anim {
    position: absolute;
    margin-top: 15vh;
    width: 1200px;
    height: 600px;
    background-image: url("../img/background-zone1.png");
    background-size: cover;
    background-position: center;
    animation: startPage 2s forwards;
}

#lookBooks {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#lookBooks .text {
    width: 40%;
    text-shadow: none;
    line-height: 1;
    margin-left: 0;
}

#lookBooks .text h2 {
    color: #17376A;
    font-size: 60px;
}

#lookBooks .text a {
    font-weight: bold;
    font-size: 18px;
    padding: 10px 55px;
    border: 1px solid #17376A;
    transition: .5s;
}

.panoramiqueLink a {
    margin: 5vh 0 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-font-color);
}

.panoramiqueLink a img {
    height: 35px;
}

#panoramique {
    display: flex;
    text-shadow: none;
}

#panoramique .scroll {
    width: 50%;
}

#panoramique .scroll > img,
#panoramique .scroll > div {
    height: 630px;
}

#panoramique .text {
    margin-left: 45px;
}

#panoramique .text h2 {
    font-size: 58px;
    margin-bottom: 0;
    color: #17376A;
}

#panoramique .text p {
    font-size: 32px;
    font-weight: lighter;
    color: #6D89A0;
}

#panoramique .text b {
    font-weight: normal;
    margin-left: 25px;
}

.text a:hover {
    background-color: #17376A !important;
    color: #FBFBFB;
}

.scroll {
    display: flex;
    overflow-x: auto;
    align-items: center;
}

.scroll img {
    height: 400px;
}

.scroll > div {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.scroll > div > img {
    height: 50%;
}

@keyframes startPage {
    0% {
        width: 100%;
        height: 100%;
        margin-top: 0;
    }

    35% {
        margin-top: 0;
        width: 100%;
        height: 100%;
    }

    100% {
    }
}

@keyframes lazyLoad {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}